*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
aside{
    position: fixed;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color:#333333 ;
}
nav{
    height: 100%;
    padding: 1.2rem;
}
ul{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li{
    list-style: none;
    color: #D6D6D6;
    font-size: larger;
    line-height: 1.15;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2px;
    width: 100%;
    height: 2em;
    padding: 0.2em;
    border-radius: 2px;
    transition: all 200ms ease-in;

}

li:hover{
    cursor: pointer;
    background-color: #565656;

}

.nav-icons{
    height: 6px;
    width: 6px;
}
main{
    position: relative;
    left: 200px;
    background-color: black;
    color: #D6D6D6;
    width: 100%;
    
}
section{
    height: 75vh;
}
